---
layout: page
title: Portfolio
---

<div class="notice">
<p style="text-align:center;">Thanks for checking out my portfolio! From time to time I add new entries, so please check back occasionally to see more, and do not hesitate to contact me if you have any questions!</p>
</div>

{% assign portfolio = site.portfolio | sort:"category" | group_by:"category" %}
{% for category in portfolio reversed %}
  {% assign works = category.items | where:"draft",false | sort:'date' %}
  {% if works.size > 0 %}
  <div class="category">
    <header class="category-header">
      <h1>{{ category.name }}</h1>
    </header>
    {% for work in works reversed %}
      {% include portfolio-item.html %}
    {% endfor %}
  </div>
  {% endif %}
{% endfor %}
