{% if include.float == 'left' %}
  {% assign style = 'float:left;margin-right:15px;' %}
{% elsif include.float == 'right' %}
  {% assign style = 'float:right;margin-left:15px;' %}
{% else %}
  {% assign style = '' %}
{% endif %}

{% assign class = include.class | prepend: "media media-figure " %}
{% assign style = include.style | prepend: style %}
{% assign src   = include.uri | prepend: site.baseurl %}
{% assign alt   = include.alt %}

<figure class='{{ class }}' style='{{ style }}'>
  {% if include.clickable == true %}
  <a href='{{ src }}' target='_blank'>
    <img src='{{ src }}' alt='{{ alt }}'>
  </a>
  {% else %}
  <img src='{{ src }}' alt='{{ alt }}'>
  {% endif %}
  {% if include.caption %}
  <figcaption>{{ include.caption | smartify }}</figcaption>
  {% endif %}
</figure>
