<footer class="site-footer">
  <div class="wrapper">
    <h3>Contact Me</h3>
    <div class="contact-list">
      <div class="contact em">
        {{ site.email }}
      </div>
      <div class="contact github">
        {% include icon-github.html username=site.github_username %}
      </div>
      <div class="contact bitbucket">
        {% include icon-bitbucket.html username=site.bitbucket_username %}
      </div>
      <div class="contact twitter">
        {% include icon-twitter.html username=site.twitter_username %}
      </div>
    </div>
  </div>
</footer>

{%- if page.comments -%}
{% include discuss.html %}
{%- endif -%}
