{% if include.float == 'left' %}
  {% assign style = 'float:left;margin-right:15px;' %}
{% elsif include.float == 'right' %}
  {% assign style = 'float:right;margin-left:15px;' %}
{% else %}
  {% assign style = '' %}
{% endif %}

{% assign class = include.class | prepend: "media media-image " %}
{% assign style = include.style | prepend: style %}
{% assign src   = include.uri | prepend: site.baseurl %}
{% assign alt   = include.alt %}

<div class='{{ class }}' style='{{ style }}'>
  {% if include.clickable == true %}
  <a href='{{ src }}' target='_blank'>
    <img src='{{ src }}' alt='{{ alt }}'>
  </a>
  {% else %}
  <img class='{{ class }}' style='{{ style }}' src='{{ src }}' alt='{{ alt }}'>
  {% endif %}
</div>
