<section class="work-item" itemscope itemtype="https://schema.org/CreativeWork">
  <header>
    <h2 class="work-item-title" itemprop="name headline">
      <a class="work-post-link" href="{{ work.url | relative_url }}">{{ work.title | escape }}</a>
    </h2>
    <h3 class="work-item-date">{{ work.date | date: "%b %Y" }}</h3>
  </header>
  <div class="work-content" itemprop="about">
    {% if work.content contains '<!--more-->' %}
    <a href="{{ work.url | relative_url }}">
      {% include media.html type=work.incl.type uri=work.incl.uri alt=work.incl.alt float=work.incl.float %}
    </a>
    <p class="">
      {{ work.content | split:'<!--more-->' | first | strip_html }}
      <p><a class="continue-reading" href="{{ work.url | relative_url }}">Continue Reading &#8614;</a></p>
    </p>
    {% else %}
    {{ work.content }}
    {% endif %}
  </div>
</section>
