<div class="flexslider">
  <ul class="slides">
  {% for slides in include.slides %}
    <li data-thumb="{{ slides.image }}">
      <figure class="slider-image media-figure">
        <a href="{{ slides.image }}" data-lightbox="{{ include.name }}" data-title="{{ slides.desc | smartify }}" target="_blank"><img src="{{ slides.image }}"></a>
        {% if slides.desc %}
        <figcaption class="flex-caption">{{ slides.desc | smartify }}</figcaption>
        {% endif %}
      </figure>
    </li>
  {% endfor %}
  </ul>
</div>
